@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap');



body{
    font-family: $font-main
}

a{
    color: $white;
    transition: color 0.2s ease-in;

    &:hover{
        color: red;
    }
}